<!-- ======= Navbar Section Start ======= -->
<div class="section main-navbar">
	<f:cObject typoscriptObjectPath="menu.main" />
</div>
<!-- ======= Navbar Section End ======= -->

<!-- ======= Button Top Section Start ======= -->
<div class="d-flex justify-content-end align-items-end fixed-bottom mb-3 me-3">
	<a id="btn-scroll-top" href="#" class="btn green-color-bg btn-footer"
		><i class="fa-solid fa-arrow-up"></i
	></a>
</div>
<!-- ======= Button Top Section End ======= -->

<!-- ======= Client Section Start ======= -->
<f:if
	condition="{f:cObject(typoscriptObjectPath:'lib.dynamicContent', data:{pageUid: '{data.uid}', colPos: '1'})}">
	<div class="section section-light">
		<div class="container-fluid gray-color-bg pt-4 pb-2">
			<f:cObject
				typoscriptObjectPath="lib.dynamicContent"
				data="{pageUid: '{data.uid}', colPos: '1'}" />
		</div>
	</div>
</f:if>
<!-- ======= Client Section End ======= -->

<!-- ======= Text Section Start ======= -->
<div class="section section-light">
	<f:if
		condition="{f:cObject(typoscriptObjectPath:'lib.dynamicContent', data:{pageUid: '{data.uid}', colPos: '0'})}"></f:if>
	<f:cObject
		typoscriptObjectPath="lib.dynamicContent"
		data="{pageUid: '{data.uid}', colPos: '0'}" />
	<div
		id="about-start"
		class="container row ms-5 mt-5 mb-5 ps-5 pe-2 about-margin">
		<!-- Left Text -->
		<div class="col-md-12 col-lg-6">
			<h5 class="fs-1 fw-bold">EUM IPSAM LABORUM DELENITI VELITENA</h5>
			<p class="left-text fs-4">
				Voluptatem degnissimos provident quasi corporis voluptates sit
				assum perenda sruen jonee trave
			</p>
		</div>
		<!-- Right Text -->
		<div class="col-md-12 col-lg-6">
			<p class="right-text">
				Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
				aute irure dolor in reprehenderit in voluptate velit esse cillum
				dolore eu fugiat nulla pariatur. Excepteur sint occaecat
				cupidatat non proident, sunt in culpa qui officia deserunt
				mollit anim id est laborum.
			</p>
			<ul class="fa-ul right-text">
				<li>
					<i
						class="fa-li fa-solid fa-check-double green-color-text"></i>
					Ullamco laboris nisi ut aliquip ex ea commodo consequa
				</li>
				<li>
					<i
						class="fa-li fa-solid fa-check-double green-color-text"></i>
					Duis aute irure dolor in reprehenderit in voluptate velit
				</li>
				<li>
					<i
						class="fa-li fa-solid fa-check-double green-color-text"></i>
					Ullamco laboris nisi ut aliquip ex ea commodo consequat.
					Duis aute irure dolor in reprehenderit in
				</li>
			</ul>
			<p class="right-text fst-italic">
				Lorem ipsum dolor sit amet, consectetur adispiscing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
		</div>
	</div>
</div>
<!-- ======= Text Section End ======= -->

<!-- ======= In Number Section Start ======= -->
<f:if
	condition="{f:cObject(typoscriptObjectPath:'lib.dynamicContent', data:{pageUid: '{data.uid}', colPos: '3'})}">
	<div class="section section-light">
		<f:cObject
			typoscriptObjectPath="lib.dynamicContent"
			data="{pageUid: '{data.uid}', colPos: '3'}" />
	</div>
</f:if>
<!-- ======= In Number Section End ======= -->

<!-- ======= Call To Action Section Start ======= -->
<f:if
	condition="{f:cObject(typoscriptObjectPath:'lib.dynamicContent', data:{pageUid: '{data.uid}', colPos: '4'})}">
	<div class="section section-light">
		<f:cObject
			typoscriptObjectPath="lib.dynamicContent"
			data="{pageUid: '{data.uid}', colPos: '4'}" />
	</div>
</f:if>
<!-- ======= Call To Action Section End ======= -->

<!-- ======= Portfolio Section Start ======= -->
<f:if
	condition="{f:cObject(typoscriptObjectPath:'lib.dynamicContent', data:{pageUid: '{data.uid}', colPos: '5'})}">
	<div class="section section-light">
		<div class="container">
			<f:cObject
				typoscriptObjectPath="lib.dynamicContent"
				data="{pageUid: '{data.uid}', colPos: '5'}" />
		</div>
	</div>
</f:if>
<!-- ======= Portfolio Section End ======= -->

<!-- ======= Testimonials Section Start ======= -->
<!-- <div class="section section-light">
	<f:cObject
		typoscriptObjectPath="lib.dynamicContent"
		data="{pageUid: '{data.uid}', colPos: '6'}" />
	<div class="gray-color-bg">
		<div class="container gray-color-bg p-4">
			<div class="container row testimonials-padding">
				<div class="col-12 col-lg-4 testimonials-padding">
					<h2>TESTIMONIALS</h2>
					<hr class="hr-testimonials" />
					<p>
						Magnam dolores commodi suscipit uisquam quos quisquam
						cupiditate. Et nemo qui impedit suscipit alias ea. Quia
						fugiat sit in iste officiis quidem hic quas.
					</p>
				</div>
				<div class="col-12 col-lg-8 testimonials-padding">
					<div class="owl-carousel owl-theme">
						<!-- Carrousel Card 1 -->
						<!-- <div class="item">
							<div
								class="card card-team-style card-testimonials border-light me-3 mt-1 mb-1">
								<div class="card-body text-center">
									<p class="card-text fst-italic">
										<i
											class="fa-solid fa-quote-left green-color-text fst-italic"></i>
										Enim nisi quem export duis labore cillum
										quae magna enim sint quorum nulla quem
										veniam duis minim tempor labore quem
										eram duis noster aute amet eram fore
										quis sint minim.
										<i
											class="fa-solid fa-quote-right green-color-text"></i>
									</p>
									<div
										class="d-flex justify-content-center mt-3">
										<img
											src="./Assets/Img/Testimonials/testimonials-1.jpg"
											class="card-img-top card-testimonials-img"
											alt="..." />
									</div>
									<div class="mb-4">
										<h5 class="card-title">Jena Karlis</h5>
										<h6
											class="card-subtitle mb-2 text-muted">
											Store Owner
										</h6>
									</div>
								</div>
							</div>
						</div> -->
						<!-- Carrousel Card 2 -->
						<!-- <div class="item">
							<div
								class="card card-team-style card-testimonials border-light me-3 mt-1 mb-1">
								<div class="card-body text-center">
									<p class="card-text">
										<i
											class="fa-solid fa-quote-left green-color-text fst-italic"></i>
										Enim nisi quem export duis labore cillum
										quae magna enim sint quorum nulla quem
										veniam duis minim tempor labore quem
										eram duis noster aute amet eram fore
										quis sint minim.
										<i
											class="fa-solid fa-quote-right green-color-text"></i>
									</p>
									<div
										class="d-flex justify-content-center mt-3">
										<img
											src="./Assets/Img/Testimonials/testimonials-2.jpg"
											class="card-img-top card-testimonials-img"
											alt="..." />
									</div>
									<div class="mb-4">
										<h5 class="card-title">Matt Brandon</h5>
										<h6
											class="card-subtitle mb-2 text-muted">
											Freelancer
										</h6>
									</div>
								</div>
							</div>
						</div> -->
						<!-- Carrousel Card 3 -->
						<!-- <div class="item">
							<div
								class="card card-team-style card-testimonials border-light me-3 mt-1 mb-1">
								<div class="card-body text-center">
									<p class="card-text">
										<i
											class="fa-solid fa-quote-left green-color-text fst-italic"></i>
										Enim nisi quem export duis labore cillum
										quae magna enim sint quorum nulla quem
										veniam duis minim tempor labore quem
										eram duis noster aute amet eram fore
										quis sint minim.
										<i
											class="fa-solid fa-quote-right green-color-text"></i>
									</p>
									<div
										class="d-flex justify-content-center mt-3">
										<img
											src="./Assets/Img/Testimonials/testimonials-3.jpg"
											class="card-img-top card-testimonials-img"
											alt="..." />
									</div>
									<div class="mb-4">
										<h5 class="card-title">Jena Karlis</h5>
										<h6
											class="card-subtitle mb-2 text-muted">
											Store Owner
										</h6>
									</div>
								</div>
							</div>
						</div> -->
						<!-- Carrousel Card 4 -->
						<!-- <div class="item">
							<div
								class="card card-team-style card-testimonials border-light me-3 mt-1 mb-1">
								<div class="card-body text-center">
									<p class="card-text">
										<i
											class="fa-solid fa-quote-left green-color-text fst-italic"></i>
										Enim nisi quem export duis labore cillum
										quae magna enim sint quorum nulla quem
										veniam duis minim tempor labore quem
										eram duis noster aute amet eram fore
										quis sint minim.
										<i
											class="fa-solid fa-quote-right green-color-text"></i>
									</p>
									<div
										class="d-flex justify-content-center mt-3">
										<img
											src="./Assets/Img/Testimonials/testimonials-4.jpg"
											class="card-img-top card-testimonials-img"
											alt="..." />
									</div>
									<div class="mb-4">
										<h5 class="card-title">Matt Brandon</h5>
										<h6
											class="card-subtitle mb-2 text-muted">
											Freelancer
										</h6>
									</div>
								</div>
							</div>
						</div> -->
						<!-- Carrousel Card 5 -->
						<!-- <div class="item">
							<div
								class="card card-team-style card-testimonials border-light me-3 mt-1 mb-1">
								<div class="card-body text-center">
									<p class="card-text">
										<i
											class="fa-solid fa-quote-left green-color-text fst-italic"></i>
										Enim nisi quem export duis labore cillum
										quae magna enim sint quorum nulla quem
										veniam duis minim tempor labore quem
										eram duis noster aute amet eram fore
										quis sint minim.
										<i
											class="fa-solid fa-quote-right green-color-text"></i>
									</p>
									<div
										class="d-flex justify-content-center mt-3">
										<img
											src="./Assets/Img/Testimonials/testimonials-5.jpg"
											class="card-img-top card-testimonials-img"
											alt="..." />
									</div>
									<div class="mb-4">
										<h5 class="card-title">Jena Karlis</h5>
										<h6
											class="card-subtitle mb-2 text-muted">
											Store Owner
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!-- ======= Testimonials Section End ======= -->

<!-- ======= Card Team Section Start ======= -->
<f:if
	condition="{f:cObject(typoscriptObjectPath:'lib.dynamicContent', data:{pageUid: '{data.uid}', colPos: '9'})}">
	<div class="section section-light team">
		<f:cObject
			typoscriptObjectPath="lib.dynamicContent"
			data="{pageUid: '{data.uid}', colPos: '9'}" />
	</div>
</f:if>
<!-- ======= Card Team Section End ======= -->

<!-- ======= Footer Section Start ======= -->
<footer class="gray-color-bg">
	<div
		class="container d-flex justify-content-between pt-3 pb-3">
		<f:if
			condition="{f:cObject(typoscriptObjectPath:'lib.dynamicContent', data:{pageUid: '{data.uid}', colPos: '10'})}">
			<div class="section">
				<f:cObject
					typoscriptObjectPath="lib.dynamicContent"
					data="{pageUid: '{data.uid}', colPos: '10'}" />
			</div>
		</f:if>

		<div class="section">
			<f:cObject typoscriptObjectPath="menu.socialmedia" />
		</div>
	</div>
</footer>
<!-- ======= Footer Section End ======= -->
