@mixin main-div {
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	border: 1px solid black;
	border-radius: 5px;
	width: fit-content;
	padding-right: 20px;
}

$football: #01f718;
$basketball: #e55b1d;
$handball: #08aaee;
$tennis: #ebf45b;
$athletisme: #8643ad;

$grey-color: #a8a5ae;

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* Color CSS */

.green-color-bg {
	background-color: #009970;
}

.green-color-text {
	color: #009970;
}

.gray-color-bg {
	background-color: #f6f6f7;
}

.gray-color-text {
	color: #a8a5ae;
}

* {
	padding: 0;

	body {
		color: #444444;
	}
}

#btn-scroll-top {
	border-radius: 50%;
	color: #fff;
}

/* ======= Joueur Css ======= */

.main-div-joueur {
	margin: 20px 10px;
	border: 1px solid black;
	border-radius: 5px;

	display: flex;
	flex-direction: column;
	align-items: center;

	#title {
		margin: 0;
	}

	.div-sport {
		.sport-select {
			display: none;
		}

		.player-image {
			padding: 0 10px;

			img {
				height: 100px;
				width: 100px;
				border-radius: 50%;
				margin: 15px auto 20px auto;
				transition: ease-in-out 0.3s;

				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}

	.player-div {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;

		.Football {
			border: 1px solid $football;

			.sport-field,
			i {
				color: $football;
				border: none;
			}
		}

		.Basketball {
			border: 1px solid $basketball;

			.sport-field,
			i {
				color: $basketball;
				border: none;
			}
		}

		.Handball {
			border: 1px solid $handball;

			.sport-field,
			i {
				color: $handball;
				border: none;
			}
		}

		.Tennis {
			border: 1px solid $tennis;

			.sport-field,
			i {
				color: $tennis;
				border: none;
			}
		}

		.Athlétisme {
			border: 1px solid $athletisme;

			.sport-field,
			i {
				color: $athletisme;
				border: none;
			}
		}

		.player-card {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 15px;

			border-radius: 5px;
			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

			.field-text {
				margin: 0;

				&:nth-last-child(1) {
					margin-bottom: 10px;
				}
			}

			.complementary-description {
				span {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-top: 10px;
					cursor: pointer;

					i {
						margin-left: 20px;
						--fa-beat-scale: 1.5;
					}
				}

				.field-description {
					padding: 0px 10px;
				}
			}
		}
	}
}

/* ======= Accordeon Css ======= */

#main-div-accordeon {
	@include main-div;
}

#ul-accordeon {
	padding-right: 32px;
}

.title-item-accordeon {
	display: flex;
	font-size: 20px;
	cursor: pointer;
}

.fa-icone-accordeon {
	margin-left: 15px;
}

.arrow-down-title-accordeon {
	margin-left: auto;
	margin-right: 30px;
}

/* ======= Boite Contact Css ======= */

#main-div-contact {
	background-color: #042e6a;
	color: white;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-right: 20px;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;

	width: fit-content;
}

#title {
	font-size: 25px;
	font-weight: bold;
	margin-left: 10px;
	margin-bottom: 20px;
}

#phone {
	font-weight: bold;
	padding-left: 5px;
}

#adress {
	padding-left: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#email {
	font-weight: bold;
	padding-left: 5px;
}

.icon {
	font-weight: normal;
	font-size: medium;
	margin-right: 10px;
}

/* ======= Boite Onglet Css ======= */

#main-div-onglet {
	@include main-div;
}

#ul-onglet {
	padding-right: 32px;
}

.title-item-onglet {
	display: flex;
	font-size: 20px;
	cursor: pointer;
}

.fa-icone-onglet {
	margin-left: 15px;
}

#li-onglet:nth-child(2) {
	display: none;
}

#ul-onglet > #li-onglet {
	display: flex;
	flex-direction: row-reverse;
}

/* ======= Carousel Css ======= */

#main-div-carousel {
	@include main-div;
}

/* ======= Client Css ======= */

#main-div-client {
	.gray-color-bg {
		background-color: #f6f6f7;
	}

	.img-client {
		width: 100px;
		height: 50px;
		filter: brightness(0);

		&:hover {
			filter: brightness(1);
		}

		img {
			max-width: 100%;
			height: auto;
		}
	}
}

/* ======= En Chiffres Css ======= */

#main-div-chiffres {
	margin: 0 !important;

	#ul-chiffres {
		display: flex;
		justify-content: space-evenly;
	}

	.li-chiffres {
		text-align: center;
		width: 200px;
	}

	.chiffres {
		font-size: 30px;
		font-weight: bold;
	}
}

/* ======= Liste de liens Css ======= */

#main-div-liens {
	@include main-div;
}

ul {
	list-style-type: none;
}

li {
	margin-top: 10px;
}

/* ======= Text Section Css ======= */

#main-div-textsection {
	@include main-div;
}

#text-textsection {
	display: flex;
	justify-content: center;
}

/* ======= Call to Action Css ======= */

#main-div-call-to-action {
	color: #fff;

	div {
		.img-parallax-call-to-action {
			background-attachment: fixed !important;
			background-position: center !important;
			background-repeat: no-repeat !important;
			background-size: cover !important;
			height: 225px;

			img {
				display: none;
			}
		}
	}

	.text-call-to-action {
		height: 225px;
		position: relative;
		z-index: 10;
		top: -225px;
		padding-top: 25px;
		backdrop-filter: brightness(40%);

		button {
			text-transform: uppercase;
			border-radius: 50px;
		}
	}
}

/* ======= Portfolio Css ======= */
#main-div-portfolio {
	margin: 0;

	.title-portfolio {
		text-transform: uppercase;
		font-weight: bold;
	}

	.hr-portfolio {
		width: 50px;
		height: 0px;
		border: none;
		border-top: 5px solid #009970;
	}

	.filter-button-group {
		display: flex;
		align-items: center;
		justify-content: center;

		.btn-filter-m {
			margin-right: 15px;

			button {
				text-transform: uppercase;
				background-color: #fff;
				color: #000;
				box-shadow: none;
				border: none;
				padding-left: 15px;
				padding-right: 15px;
				border-radius: 50px;

				&:hover {
					background-color: #009970;
					color: #fff;
					border: none;
				}
			}

			.active {
				background-color: #009970;
				color: #fff;
				border: none;
			}
		}

		#btn-mask {
			display: flex;
			padding: 0;
		}
	}

	img {
		height: 100% !important;
		height: 267px !important;
		width: 356px !important;
	}
}

/* ======= Team card Css ======= */

.team {
	display: flex;
	justify-content: flex-end;
}

#main-div-team {
	margin: 0;

	.ul-team {
		display: flex;
		flex-wrap: wrap;
	}

	.li-team {
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 15px;

		.card-team {
			box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
			border-radius: 10px;
			display: flex;
			flex-direction: column;
			align-items: center;

			&:nth-child(5) {
				text-align: center;
			}

			h5 {
				font-size: 20px;
			}

			h6 {
				font-size: 16px;
			}
		}

		img {
			height: 100px !important;
			width: 100px !important;
			border-radius: 50% !important;
			margin: 15px auto 20px auto;
			transition: ease-in-out 0.3s;

			&:hover {
				transform: scale(1.1);
			}
		}

		hr {
			width: 50px;
			height: 0px;
			border: none;
			border-top: 2px solid $grey-color;
		}

		.ul-social-media {
			display: flex;
			padding-bottom: 15px;
		}

		.li-social-media {
			background-color: $grey-color;
			color: white;
			border-radius: 100%;
			margin-right: 5px;

			display: flex;
			justify-content: center;
			width: 40px;
			height: 40px;

			&:hover {
				color: #000;
			}

			a {
				display: flex;
				align-items: center;
				text-decoration: none;
				color: inherit;

				p {
					margin: 0;
				}
			}
		}
	}
}

/* ======= Footer Right Css ======= */
#main-div-footer-right {
	.social-media {
		background-color: #009970;
		color: white;
		border-radius: 100%;
		margin-right: 5px;

		display: flex;
		justify-content: center;
		width: 40px;
		height: 40px;

		&:hover {
			color: #000;
		}

		a {
			display: flex;
			margin: 0;
			align-items: center;
			text-decoration: none;
			color: inherit;

			p {
				margin: 0;
			}
		}
	}
}

/* ======= ======= ======= ======= ======= ======= ======= ======= */

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* Testimonials Section CSS */

.card-testimonials-img {
	border-radius: 50%;
	height: 100px !important;
	width: 100px !important;
}

.hr-testimonials {
	width: 50px;
	height: 0px;
	border: none;
	border-top: 5px solid #009970;
}

.card-team {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.owl-theme .owl-dots .owl-dot span {
	background: white !important;
	border: 1px solid #009970;
}

.owl-theme .owl-dots .owl-dot.active span {
	background: #009970 !important;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* Main Navbar Typoscript Scss */

.main-navbar {
	display: flex;
	align-items: center;
	padding-top: 15px;
	margin-left: 25px;
	margin-right: 25px;
}

.title-nav {
	padding: 8px 24px;
	background-color: #009970;
	color: #fff;
	font-weight: bold;
	margin: 0;
}

.level-main {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	li {
		.last-element-nav {
			background-color: #009970;
			color: #fff !important;
			border-radius: 50px;
			padding: 6px 12px;
		}

		a {
			text-transform: uppercase;
			text-decoration: none;
			color: #000;

			&:hover {
				color: #009970;
			}
		}
	}

	.dropdown {
		position: static;
	}

	.dropdown:hover {
		.dropdown-menu {
			display: block;
			padding: 10px 25px;
			box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

			.current {
				a {
					color: #009970 !important;
				}
			}
		}
	}

	.current {
		a {
			color: #009970 !important;
		}

		.level2 {
			li {
				a {
					color: #000 !important;

					&:hover {
						color: #009970 !important;
					}
				}
			}
		}
	}
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* Footer Typoscript Scss */

.level-footer {
	display: flex;

	li {
		margin-right: 10px;
		background-color: #009970;
		color: white;
		border-radius: 100%;
		margin-right: 5px;

		display: flex;
		justify-content: center;
		width: 40px;
		height: 40px;

		&:hover {
			color: #000;
		}

		a {
			display: flex;
			align-items: center;
			text-decoration: none;
			color: inherit;
			font-size: 0;

			i {
				font-size: 15px;
				p {
					display: none;
				}
			}
		}
	}
}
