/* ======= Accordeon Css ======= */

#main-div-accordeon {
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	border: 1px solid black;
	border-radius: 5px;
}

#ul-accordeon {
	padding-right: 32px;
}

.title-item-accordeon {
	display: flex;
	font-size: 20px;
	cursor: pointer;
}

.fa-icone-accordeon {
	margin-left: 15px;
}

.arrow-down-title-accordeon {
	margin-left: auto;
	margin-right: 30px;
}

/* ======= Boite Contact Css ======= */

#main-div-contact {
	background-color: #042e6a;
	color: white;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-right: 20px;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;

	width: fit-content;
}

#title {
	font-size: 25px;
	font-weight: bold;
	margin-left: 10px;
	margin-bottom: 20px;
}

#phone {
	font-weight: bold;
	padding-left: 5px;
}

#adress {
	padding-left: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#email {
	font-weight: bold;
	padding-left: 5px;
}

.icon {
	font-weight: normal;
	font-size: medium;
	margin-right: 10px;
}

/* ======= Boite Onglet Css ======= */

#main-div-onglet {
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	border: 1px solid black;
	border-radius: 5px;
}

#ul-onglet {
	padding-right: 32px;
}

.title-item-onglet {
	display: flex;
	font-size: 20px;
	cursor: pointer;
}

.fa-icone-onglet {
	margin-left: 15px;
}

#li-onglet:nth-child(2) {
	display: none;
}

#ul-onglet > #li-onglet {
	display: flex;
	flex-direction: row-reverse;
}

/* ======= Carousel Css ======= */

#main-div-carousel {
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	border: 1px solid black;
	border-radius: 5px;
}

/* ======= En Chiffres Css ======= */

#main-div-chiffres {
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	border: 1px solid black;
	border-radius: 5px;
	width: fit-content;
	padding-right: 20px;
}

#ul-chiffres {
	display: flex;
}

#li-chiffres {
	text-align: center;
	width: 200px;
}

#li-chiffres:not(:last-child) {
	border-right: 1px solid gray;
}

#chiffres {
	font-size: 30px;
	font-weight: bold;
	color: #09316c;
}

/* ======= Liste de liens Css ======= */

#main-div-liens {
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	border: 1px solid black;
	border-radius: 5px;
	width: fit-content;
	padding-right: 20px;
}

ul {
	list-style-type: none;
}

li {
	margin-top: 10px;
}

/* ======= Text Section Css ======= */

#main-div-textsection {
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	border: 1px solid black;
	border-radius: 5px;
	width: fit-content;
	padding-right: 20px;
}

#text-textsection {
	display: flex;
	justify-content: center;
}

/* ======= ======= ======= ======= ======= ======= ======= ======= */

* {
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", sans-serif;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* Color CSS */

.green-color-bg {
	background-color: #009970;
}

.green-color-text {
	color: #009970;
}

.gray-color-bg {
	background-color: #f6f6f7;
}

.gray-color-text {
	color: #a8a5ae;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* Navbar Section CSS */

.btn-navbar {
	border-radius: 50px;
}

.btn-navbar-text {
	border-radius: 50px;
}

.bg-navbar {
	background-position: center;
	background-image: url(../Img/hero-bg.jpg);
	height: 500px;
}

.bg-filter-navbar {
	backdrop-filter: brightness(40%);
	height: 100%;
}

.text-font-navbar .li-font-navbar {
	font-family: "Poppins", sans-serif;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* Client CSS */

.client-img {
	width: 100px;
	height: 50px;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* In Numbers CSS */

.font-number {
	font-family: "Raleway", sans-serif;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* Call To Action Section CSS */

.bg-parallax-call-to-action {
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../Img/cta-bg.jpg);
	height: 225px;
}

.bg-filter-call-to-action {
	backdrop-filter: brightness(40%);
	height: 100%;
}

.btn-call-to-action {
	border-radius: 50px;
	font-family: "Raleway", sans-serif;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* Portfolio Section CSS */

.hr-portfolio {
	width: 50px;
	height: 0px;
	border: none;
	border-top: 5px solid #009970;
}

.btn-filter-portfolio {
	font-family: "Poppins", sans-serif;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 50px;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* Testimonials Section CSS */

.card-testimonials-img {
	border-radius: 50%;
	height: 100px !important;
	width: 100px !important;
}

.hr-testimonials {
	width: 50px;
	height: 0px;
	border: none;
	border-top: 5px solid #009970;
}

.card-team {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.owl-theme .owl-dots .owl-dot span {
	background: white !important;
	border: 1px solid #009970;
}

.owl-theme .owl-dots .owl-dot.active span {
	background: #009970 !important;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* Team Card Section CSS */

.card-team {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-fa-color-team {
	background-color: #acb1b3;
}

.card-team-img {
	border-radius: 50%;
	height: 110px;
	width: 110px;
}

.hr-team-title {
	width: 50px;
	height: 0px;
	border: none;
	border-top: 5px solid #009970;
}

.hr-team-card {
	width: 50px;
	height: 0px;
	border: none;
	border-top: 2px solid #a8a5ae;
}

.zoom-card-team:hover {
	transform: scale(1.1);
}

.pic {
	width: 150px;
	height: 120px;
	border-radius: 50%;
	margin: 0 auto 20px auto;
}

.pic img {
	transition: ease-in-out 0.3s;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* Footer CSS */

.btn-footer {
	border-radius: 100%;
	color: white;
	margin-right: 5px;
}
