<div id="main-div-contact">
    <!-- Title -->
    <f:if condition="{data.header}">
        <div id="title">
            <!-- Type of the title -->
            <f:variable name="headerLayout" value="{data.header_layout}"/>
            <f:switch expression="{headerLayout}">
                <f:case value="0"> <h2>{data.header}</h2> </f:case>
                <f:case value="1"> <h1>{data.header}</h1> </f:case>
                <f:case value="2"> <h2>{data.header}</h2> </f:case>
                <f:case value="3"> <h3>{data.header}</h3> </f:case>
                <f:case value="4"> <h4>{data.header}</h4> </f:case>
                <f:case value="5"> <h5>{data.header}</h5> </f:case>
                <f:case value="100"> <div style="display: none;">{data.header}</div> </f:case>
            </f:switch>
        </div>
    </f:if>

    <!-- Sub title -->
    <f:if condition="{data.subheader}">
        <div id="subtitle">
            {data.subheader}
        </div>
    </f:if>

    <!-- Phone -->
    <f:if condition="{data.tx_mask_telephone}">
        <div class="icon">
            <span class="icon">
                <i class="fa-solid fa-phone"></i>
            </span>
            {data.tx_mask_telephone}
        </div>
    </f:if>

    <!-- Adress -->
    <f:if condition="{data.tx_mask_adresse_contact}">
        <div id="adress">
            <span class="icon">
                <i class="fa-solid fa-location-dot"></i>
            </span>
            {data.tx_mask_adresse_contact -> f:format.nl2br()}
        </div>
    </f:if>

    <!-- Email -->
    <f:if condition="{data.tx_mask_email}">
        <div id="email">
            <span class="icon">
                <i class="fa-regular fa-envelope"></i>
            </span>
            {data.tx_mask_email}
        </div>
    </f:if>

    <!-- Text -->
    <f:if condition="{data.bodytext}">
        <div id="text">
            {data.bodytext -> f:format.html()}
        </div>
    </f:if>
</div>
