<div id="main-div-onglet">
    <!-- Title -->
    <f:if condition="{data.header}">
        <div id="title">
            <!-- Type of the title -->
            <f:variable name="headerLayout" value="{data.header_layout}"/>
            <f:switch expression="{headerLayout}">
                <f:case value="0"> <h2>{data.header}</h2> </f:case>
                <f:case value="1"> <h1>{data.header}</h1> </f:case>
                <f:case value="2"> <h2>{data.header}</h2> </f:case>
                <f:case value="3"> <h3>{data.header}</h3> </f:case>
                <f:case value="4"> <h4>{data.header}</h4> </f:case>
                <f:case value="5"> <h5>{data.header}</h5> </f:case>
                <f:case value="100"> <div style="display: none;">{data.header}</div> </f:case>
            </f:switch>
        </div>
    </f:if>

    <!-- Sub title -->
    <f:if condition="{data.subheader}">
        <div id="subtitle">
            {data.subheader}
        </div>
    </f:if>

    <f:if condition="{data.tx_mask_repeat_item}">
        <ul id="ul-onglet" class="nav nav-tabs">
            <f:for each="{data.tx_mask_repeat_item}" as="data_item">
                <li id="li-onglet" class="nav-item li-onglet">
                    <script>
                    </script>
                    <div class="title-item-onglet">
                        <f:if condition="{data_item.tx_mask_titre_item}">
                            {data_item.tx_mask_titre_item -> f:format.nl2br()}
                        </f:if>
                        <f:if condition="{data_item.tx_mask_icone_item}">
                            <div class="fa-icone-onglet">
                                {data_item.tx_mask_icone_item -> f:format.html()}
                            </div>
                        </f:if>
                    </div>
                    <f:variable name="openItem" value="{data_item.tx_mask_open_item}"/>
                    <f:if condition="{openItem}">
                        <f:then>
                            <f:comment><!-- Do this, if checked --></f:comment>
                        </f:then>
                        <f:else>
                            <f:comment><!-- Else do this --></f:comment>
                        </f:else>
                    </f:if>
                    <div class="tab-content container">
                        <div class="tab-pane">
                            <f:if condition="{data_item.tx_mask_description_item}">
                                {data_item.tx_mask_description_item -> f:format.html()}
                            </f:if>
                        </div>
                    </div>
                </li>
            </f:for>
        </ul>
    </f:if>
</div>
