<div id="main-div-call-to-action">
	<div class="container-fluid text-center p-0">
		<!-- Background image -->
		<div class="img-parallax-call-to-action">
			<f:for each="{data.tx_mask_parallax_call_to_action}" as="file">
				<f:media file="{file}" />
				{file.description}
			</f:for>
		</div>

		<div class="text-call-to-action">
			<!-- Title -->
			<f:if condition="{data.header}">
				<div id="title">
					<!-- Type of the title -->
					<f:variable
						name="headerLayout"
						value="{data.header_layout}" />
					<f:switch expression="{headerLayout}">
						<f:case value="0"> <h2>{data.header}</h2> </f:case>
						<f:case value="1"> <h1>{data.header}</h1> </f:case>
						<f:case value="2"> <h2>{data.header}</h2> </f:case>
						<f:case value="3"> <h3>{data.header}</h3> </f:case>
						<f:case value="4"> <h4>{data.header}</h4> </f:case>
						<f:case value="5"> <h5>{data.header}</h5> </f:case>
						<f:case value="100">
							<div style="display: none">{data.header}</div>
						</f:case>
					</f:switch>
				</div>
			</f:if>

			<!-- Sub title -->
			<f:if condition="{data.subheader}">
				<div id="subtitle">{data.subheader}</div>
			</f:if>

			<!-- Text  -->
			<f:if condition="{data.bodytext}">
				{data.bodytext -> f:format.html()}
			</f:if>

			<!-- Button -->
			<f:if condition="{data.tx_mask_text_btn_call_to_action}">
				<button type="button" class="btn btn-outline-light">
					{data.tx_mask_text_btn_call_to_action}
				</button>
			</f:if>
		</div>
	</div>
</div>
