<div id="main-div-carousel">
    <!-- Title -->
    <f:if condition="{data.header}">
        <div id="title">
            <!-- Type of the title -->
            <f:variable name="headerLayout" value="{data.header_layout}"/>
            <f:switch expression="{headerLayout}">
                <f:case value="0"> <h2>{data.header}</h2> </f:case>
                <f:case value="1"> <h1>{data.header}</h1> </f:case>
                <f:case value="2"> <h2>{data.header}</h2> </f:case>
                <f:case value="3"> <h3>{data.header}</h3> </f:case>
                <f:case value="4"> <h4>{data.header}</h4> </f:case>
                <f:case value="5"> <h5>{data.header}</h5> </f:case>
                <f:case value="100"> <div style="display: none;">{data.header}</div> </f:case>
            </f:switch>
        </div>
    </f:if>

    <!-- Sub title -->
    <f:if condition="{data.subheader}">
        <div id="subtitle">
            {data.subheader}
        </div>
    </f:if>
    
    <f:if condition="{data.tx_mask_image}">
        <ul>
            <div class="owl-carousel">
                <f:for each="{data.tx_mask_image}" as="data_item">
                    <li>
                        <f:if condition="{data_item.tx_mask_titre_img}">
                            {data_item.tx_mask_titre_img}
                        </f:if>
                        <f:for each="{data_item.tx_mask_image_carousel}" as="file">
                            <f:media file="{file}" width="400" />
                            {file.description}
                        </f:for>
                        <f:if condition="{data_item.tx_mask_label_link}">
                            {data_item.tx_mask_label_link}
                        </f:if>
                        <f:if condition="{data_item.tx_mask_link}">
                            <f:link.typolink parameter="{data_item.tx_mask_link}"></f:link.typolink>
                        </f:if>
                        <f:if condition="{data_item.tx_mask_description_item}">
                            {data_item.tx_mask_description_item -> f:format.html()}
                        </f:if>
                    </li>
                </f:for>
            </div>
        </ul>
    </f:if>
</div>