<div class="main-div-joueur">
	<!-- Title -->
	<f:if condition="{data.header}">
		<div id="title">
			<!-- Type of the title -->
			<f:variable name="headerLayout" value="{data.header_layout}" />
			<f:switch expression="{headerLayout}">
				<f:case value="0"> <h2>{data.header}</h2> </f:case>
				<f:case value="1"> <h1>{data.header}</h1> </f:case>
				<f:case value="2"> <h2>{data.header}</h2> </f:case>
				<f:case value="3"> <h3>{data.header}</h3> </f:case>
				<f:case value="4"> <h4>{data.header}</h4> </f:case>
				<f:case value="5"> <h5>{data.header}</h5> </f:case>
				<f:case value="100">
					<div style="display: none">{data.header}</div>
				</f:case>
			</f:switch>
		</div>
	</f:if>

	<!-- Sub title -->
	<f:if condition="{data.subheader}">
		<div id="subtitle">{data.subheader}</div>
	</f:if>

	<div class="div-sport container">
		<!-- Sport div -->
		<f:if condition="{data.tx_mask_id_joueur}">
			<f:cObject
				typoscriptObjectPath="lib.player"
				data="{filterSport: data.tx_mask_sport_joueur, playerId: data.tx_mask_id_joueur}" />
		</f:if>
	</div>
</div>
