<div id="main-div-liens">
    <!-- Title -->
    <f:if condition="{data.header}">
        <div id="title">
            <!-- Type of the title -->
            <f:variable name="headerLayout" value="{data.header_layout}"/>
            <f:switch expression="{headerLayout}">
                <f:case value="0"> <h2>{data.header}</h2> </f:case>
                <f:case value="1"> <h1>{data.header}</h1> </f:case>
                <f:case value="2"> <h2>{data.header}</h2> </f:case>
                <f:case value="3"> <h3>{data.header}</h3> </f:case>
                <f:case value="4"> <h4>{data.header}</h4> </f:case>
                <f:case value="5"> <h5>{data.header}</h5> </f:case>
                <f:case value="100"> <div style="display: none;">{data.header}</div> </f:case>
            </f:switch>
        </div>
    </f:if>

    <!-- Sub title -->
    <f:if condition="{data.subheader}">
        <div id="subtitle">
            {data.subheader}
        </div>
    </f:if>

    <f:if condition="{data.tx_mask_item_repeat}">
        <!-- Link list start -->
        <ul>
            <f:for each="{data.tx_mask_item_repeat}" as="data_item">
                <li>
                    <span class="icon">
                        <i class="fa-solid fa-link"></i>
                    </span>
                    <!-- <f:if condition="{data_item.tx_mask_titre_item}">
                        {data_item.tx_mask_titre_item -> f:format.nl2br()}
                    </f:if> -->
                    <f:if condition="{data_item.tx_mask_lien_item}">
                        <f:link.typolink parameter="{data_item.tx_mask_lien_item}">{data_item.tx_mask_titre_item}</f:link.typolink>
                    </f:if>
                </li>
            </f:for>
        </ul>
    </f:if>

</div>