<div id="main-div-portfolio">
	<div class="container mt-5 mb-5">
		<!-- Title -->
		<f:if condition="{data.header}">
			<div id="title" class="title-portfolio">
				<!-- Type of the title -->
				<f:variable name="headerLayout" value="{data.header_layout}" />
				<f:switch expression="{headerLayout}">
					<f:case value="0"> <h2>{data.header}</h2> </f:case>
					<f:case value="1"> <h1>{data.header}</h1> </f:case>
					<f:case value="2"> <h2>{data.header}</h2> </f:case>
					<f:case value="3"> <h3>{data.header}</h3> </f:case>
					<f:case value="4"> <h4>{data.header}</h4> </f:case>
					<f:case value="5"> <h5>{data.header}</h5> </f:case>
					<f:case value="100">
						<div style="display: none">{data.header}</div>
					</f:case>
				</f:switch>
			</div>
		</f:if>

		<hr class="hr-portfolio">

		<!-- Sub title -->
		<f:if condition="{data.subheader}">
			<div id="subtitle">{data.subheader}</div>
		</f:if>

		<!-- Text -->
		<f:if condition="{data.bodytext}">
			{data.bodytext -> f:format.html()}
		</f:if>

		<!-- Button filter -->
		<div class="filter-button-group text-center mt-3 mb-3">
			<ul id="btn-all">
				<li class="btn-filter-m">
					<button
						type="button"
						class="btn-filter btn btn-secondary active"
						data-filter="*">
						ALL
					</button>
				</li>
			</ul>

			<f:if condition="{data.tx_mask_filter_repeat}">
				<ul id="btn-mask">
					<f:for each="{data.tx_mask_filter_repeat}" as="data_item">
						<li class="btn-filter-m">
							<f:if condition="{data_item.tx_mask_filter_filter}">
								<button
									type="button"
									class="btn-filter btn btn-secondary"
									data-filter=".{data_item.tx_mask_filter_filter}">
									{data_item.tx_mask_filter_filter}
								</button>
							</f:if>
						</li>
					</f:for>
				</ul>
			</f:if>
		</div>

		<!-- Image portfolio -->
		<div class="container">
			<f:if condition="{data.tx_mask_portfolio_repeat}">
				<ul>
					<div class="grid row">
						<f:for
							each="{data.tx_mask_portfolio_repeat}"
							as="data_item">
							<f:for
								each="{data_item.tx_mask_image_item}"
								as="file">
								<f:if
									condition="{data_item.tx_mask_filter_text_items}">
									<div
										class="img-portfolio grid-item col-12 col-md-6 col-lg-4 mb-3 {data_item.tx_mask_filter_text_items}">
										<f:media file="{file}" width="200" />
									</div>
									{file.description}
								</f:if>
							</f:for>
						</f:for>
					</div>
				</ul>
			</f:if>
		</div>
	</div>
</div>
