<div id="main-div-team" class="col-12 col-lg-8">
    <div class="row">
        <!-- Title -->
        <f:if condition="{data.header}">
            <div id="title">
                <!-- Type of the title -->
                <f:variable name="headerLayout" value="{data.header_layout}" />
                <f:switch expression="{headerLayout}">
                    <f:case value="0"> <h2>{data.header}</h2> </f:case>
                    <f:case value="1"> <h1>{data.header}</h1> </f:case>
                    <f:case value="2"> <h2>{data.header}</h2> </f:case>
                    <f:case value="3"> <h3>{data.header}</h3> </f:case>
                    <f:case value="4"> <h4>{data.header}</h4> </f:case>
                    <f:case value="5"> <h5>{data.header}</h5> </f:case>
                    <f:case value="100">
                        <div style="display: none">{data.header}</div>
                    </f:case>
                </f:switch>
            </div>
        </f:if>

        <!-- Sub title -->
        <f:if condition="{data.subheader}">
            <div id="subtitle">{data.subheader}</div>
        </f:if>

        <f:if condition="{data.tx_mask_team_repeat}">
            <ul class="ul-team">
                <f:for each="{data.tx_mask_team_repeat}" as="data_item">
                    <li class="li-team col-12 col-lg-5 mb-3">
                        <div class="card-team">
                            <!-- Medallion image -->
                            <f:for each="{data_item.tx_mask_image_team}" as="file">
                                <f:media file="{file}" width="100" height="100" />
                                {file.description}
                            </f:for>

                            <!-- Name -->
                            <f:if condition="{data_item.tx_mask_nom_item}">
                                <h5>{data_item.tx_mask_nom_item}</h5>
                            </f:if>

                            <!-- Function/Rank -->
                            <f:if condition="{data_item.tx_mask_fonction_item}">
                                <h6>{data_item.tx_mask_fonction_item}</h6>
                            </f:if>

                            <!-- Divider -->
                            <hr>

                            <!-- Description -->
                            <f:if condition="{data_item.tx_mask_description_item}">
                                {data_item.tx_mask_description_item -> f:format.html()}
                            </f:if>

                            <f:if
                                condition="{data_item.tx_mask_social_media_team_repeat}">
                                <ul class="ul-social-media">
                                    <f:for
                                        each="{data_item.tx_mask_social_media_team_repeat}"
                                        as="data_item_item">
                                        <li class="li-social-media">
                                            <!-- Social Media -->
                                            <f:if condition="{data_item_item.tx_mask_link_items}">
                                                <f:if condition="{data_item_item.tx_mask_social_media_items}">
                                                    <a href="{data_item_item.tx_mask_link_items}" target="_blank">
                                                        {data_item_item.tx_mask_social_media_items -> f:format.html()}
                                                    </a>
                                                </f:if>
                                            </f:if>
                                        </li>
                                    </f:for>
                                </ul>
                            </f:if>
                        </div>
                    </li>
                </f:for>
            </ul>
        </f:if>
</div>
</div>
