<!-- Font Awesome import from cdnjs -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Jquery import form cdnjs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div id="main-div-accordeon">
    <!-- Title -->
    <f:if condition="{data.header}">
        <div id="title">
            <!-- Type of the title -->
            <f:variable name="headerLayout" value="{data.header_layout}"/>
            <f:switch expression="{headerLayout}">
                <f:case value="0"> <h2>{data.header}</h2> </f:case>
                <f:case value="1"> <h1>{data.header}</h1> </f:case>
                <f:case value="2"> <h2>{data.header}</h2> </f:case>
                <f:case value="3"> <h3>{data.header}</h3> </f:case>
                <f:case value="4"> <h4>{data.header}</h4> </f:case>
                <f:case value="5"> <h5>{data.header}</h5> </f:case>
                <f:case value="100"> <div style="display: none;">{data.header}</div> </f:case>
            </f:switch>
        </div>
    </f:if>

    <!-- Sub title -->
    <f:if condition="{data.subheader}">
        <div id="subtitle">
            {data.subheader}
        </div>
    </f:if>

    <f:if condition="{data.tx_mask_accordeon_repeat}">
        <ul id="ul-accordeon">
            <f:for each="{data.tx_mask_accordeon_repeat}" as="data_item">
                <li class="li-accordeon">
                    <div class="title-item-accordeon">
                        <f:if condition="{data_item.tx_mask_titre}">
                            {data_item.tx_mask_titre}
                        </f:if>
                        <f:if condition="{data_item.tx_mask_icone_item}">
                            <div class="fa-icone-accordeon">
                                {data_item.tx_mask_icone_item -> f:format.html()}
                            </div>
                        </f:if>
                        <div class="arrow-down-title-accordeon">
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                    </div>
                    <f:variable name="openItem" value="{data_item.tx_mask_open_item}"/>
                    <f:if condition="{openItem}">
                        <f:then>
                            <f:comment><!-- Do this, if checked --></f:comment>
                        </f:then>
                        <f:else>
                            <f:comment><!-- Else do this --></f:comment>
                        </f:else>
                    </f:if>
                    <f:if condition="{data_item.tx_mask_description_item}">
                        <div class="description-accordeon">
                            {data_item.tx_mask_description_item -> f:format.html()}
                        </div>
                    </f:if>
                </li>
            </f:for>
        </ul>
    </f:if>
</div>

<!-- Css Style -->
<style>

    #main-div-accordeon {
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        border: 1px solid black;
        border-radius: 5px;
    }

    #ul-accordeon {
        padding-right: 32px;
    }

    .title-item-accordeon {
        display: flex;
        font-size: 20px;
        cursor: pointer;
    }

    .fa-icone-accordeon {
        margin-left: 15px;
    }

    .arrow-down-title-accordeon {
        margin-left: auto;
        margin-right: 30px;
    }

</style>

<script>

    $('.description-accordeon').css('display', 'none');
    $('.title-item-accordeon').on('click', function () {
        if ($(this).siblings('.description-accordeon').css('display') == 'none') {
            $('.description-accordeon').css('display', 'none');
            $(this).siblings('.description-accordeon').css('display', 'block');
        } else {
            $(this).siblings('.description-accordeon').css('display', 'none');
        }
    });

</script>