<!-- Font Awesome import from cdnjs -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Owl Carousel Css import from cdnjs -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Jquery import form cdnjs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Owl Carousel Js import from cdnjs -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js" integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div id="main-div-carousel">
    <!-- Title -->
    <f:if condition="{data.header}">
        <div id="title">
            <!-- Type of the title -->
            <f:variable name="headerLayout" value="{data.header_layout}"/>
            <f:switch expression="{headerLayout}">
                <f:case value="0"> <h2>{data.header}</h2> </f:case>
                <f:case value="1"> <h1>{data.header}</h1> </f:case>
                <f:case value="2"> <h2>{data.header}</h2> </f:case>
                <f:case value="3"> <h3>{data.header}</h3> </f:case>
                <f:case value="4"> <h4>{data.header}</h4> </f:case>
                <f:case value="5"> <h5>{data.header}</h5> </f:case>
                <f:case value="100"> <div style="display: none;">{data.header}</div> </f:case>
            </f:switch>
        </div>
    </f:if>

    <!-- Sub title -->
    <f:if condition="{data.subheader}">
        <div id="subtitle">
            {data.subheader}
        </div>
    </f:if>
    
    <f:if condition="{data.tx_mask_image}">
        <ul>
            <div class="owl-carousel">
                <f:for each="{data.tx_mask_image}" as="data_item">
                    <li>
                        <f:if condition="{data_item.tx_mask_titre_img}">
                            {data_item.tx_mask_titre_img}
                        </f:if>
                        <f:for each="{data_item.tx_mask_image_carousel}" as="file">
                            <f:media file="{file}" width="400" />
                            {file.description}
                        </f:for>
                        <f:if condition="{data_item.tx_mask_label_link}">
                            {data_item.tx_mask_label_link}
                        </f:if>
                        <f:if condition="{data_item.tx_mask_link}">
                            <f:link.typolink parameter="{data_item.tx_mask_link}"></f:link.typolink>
                        </f:if>
                        <f:if condition="{data_item.tx_mask_description_item}">
                            {data_item.tx_mask_description_item -> f:format.html()}
                        </f:if>
                    </li>
                </f:for>
            </div>
        </ul>
    </f:if>
</div>

<!-- Css Style -->
<style>

    #main-div-carousel {
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        border: 1px solid black;
        border-radius: 5px;
    }

</style>

<script>

    $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
            autoWidth:true,
            loop:true,
            margin:10,
            nav:true,
            lazyLoad:true,
            autoplay:true,
            autoplayTimeout:2500,
            autoplayHoverPause:false,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:5
                }
            }
        })
    });

</script>